---
layout: default
---

<div class="row">
  <div class="medium-8 columns">
    {% if page.description %}
    <h3 class="subheader">{{ page.description | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
    {% endif %}
    {{ content }}
  </div>
</div>

{% if page.tags.size > 0 %}
<div class="row">
  <div class="medium-8 columns tags">
    Tags:
    {% for tag in page.tags %}
      <a href="/tags#{{ tag | downcase | cgi_escape }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
{% endif %}
</div>

